@page "/assignment"

<h1>Assignment</h1>

<h2>Problem</h2>
<p>Given a square matrix, calculate the absolute difference between the sums of its diagonals. For example, the square matrix is shown below:</p>

1 2 3
<br />
4 5 6
<br />
9 8 9
<br />
<br />
<p>The left-to-right diagonal = 1 + 5 + 9 = 15. The right to left diagonal = 3 + 5 + 9 = 17. Their absolute difference is |15 – 17| = 2.</p>

<h2>Assignment</h2>
<p>Create a program that solves the problem above. You can choose the programming language and framework you like. There are no constraints on the user interface.</p>

<h2>Input</h2>
<p>A single integer n, representing the number of rows and columns in the matrix . n enumerations of n integers. Each enumeration describes a row. These integers must be between -100 and 100.</p>

<h2>Output</h2>
<p>The absolute difference between the sums of the matrix's two diagonals as a single integer.</p>

<p>Sample Input</p>
11 2 4
<br />
4 5 6
<br />
10 8 -12
<br />
<br />
<p>Sample Output</p>
15

@code {

}
